/** =========================================================================
 *  Disinfector v1.0.0 | MIT License | github.com/azat-io/disinfector
 *  =========================================================================
 */

/**
 * Add border box sizing in all browsers (opinionated).
 */

* {
    box-sizing: border-box;
}

/**
 * Prevent adjustments of font size after orientation changes in
 * IE on Windows Phone and in iOS.
 */

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

/**
 * Remove the margin in all browsers (opinionated).
 */

body {
    margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */

article,
aside,
figcaption,
figure,
footer,
header,
main,
nav,
section {
    display: block;
}

/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */

a {
    background-color: transparent; /* 1 */
    -webkit-text-decoration-skip: objects; /* 2 */
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */

a:active,
a:hover {
    outline-width: 0;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
    font-weight: bolder;
}

/**
 * Remove the border on images inside links in IE 10-.
 */

img {
    border-style: none;
}

/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
select,
textarea {
    font-family: inherit; /* 1 */
    font-size: inherit; /* 1 */
    margin: 0; /* 2 */
}

/**
 * Show the overflow in Edge.
 */

input {
    overflow: visible;
}

/**
 * 1. Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */

button {
    text-transform: none; /* 1 */
    -webkit-appearance: button; /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

/**
 * Remove the default vertical scrollbar in IE.
 */

textarea {
    overflow: auto;
}

